/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 0 112px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 677px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("./../resources/landingHeader.png");

}

header>.introduction {
    padding: 100px 0;
    width: 50%;

    max-width: 12000px;

}

header>.introduction>h1 {
    color: white;
    font-size: var(--FontSize_MainTitle);
    font-family: var(--nunito);
    font-weight: var(--ExtraBold);
    line-height: 98%;
}

header>.introduction>h3 {
    margin-top: 22px;
    color: white;
    font-size: var(--FontSize_MainSubTitle);
    font-family: var(--nunito);
    font-weight: var(--Regular);
    line-height: 120%;
}

header>.introduction>p {
    margin-top: 22px;
    color: white;
    font-size: var(--FontSize_Paragraph);
    font-family: var(--nunito);
    font-weight: var(--Regular);
    line-height: 120%;
}

header>.introduction>span {
    margin-top: 30px;
    color: rgb(214, 214, 214);
    font-size: var(--FontSize_Paragraph);
    font-weight: var(--Regular);
    line-height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header>.introduction>span>img {
    margin: 0 20px;
    width: 150px;
}

header>.introduction>h1>strong {
    color: var(--cta__button__bgcolor);

}


header>.ornament {
    pointer-events: none;
    position: absolute;
    bottom: -107px;
    right: -0;
    -o-object-fit: contain;
    object-fit: contain;
    width: 1033px;
    -webkit-user-drag: none;
}

.navbar {
    max-width: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    height: -webkit-fit-content;

    height: -moz-fit-content;

    height: fit-content;
    width: 100%;



    -webkit-box-pack: justify;



    -ms-flex-pack: justify;



    justify-content: space-between;

    padding: 46px 0px 30px 0px;

}

.navbar>.logo {
    width: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-user-drag: none;
}

.navbar>.navbar__controls {
    padding: 4px 0px 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    -webkit-column-gap: 15px;

    -moz-column-gap: 15px;

    column-gap: 15px;

}

.navbar>.navbar__controls>a:not(.cta__button) {
    text-align: center;

    padding: 0px 20px;
    text-decoration: none;
    color: white;
    height: 20px;
    font-family: var(--nunito);
    font-weight: var(--SemiBold);
    font-size: var(--FontSize_MainParagraph);
}



.navbar>.navbar__controls>hr {

    border-left: 1px solid white;
    height: 100%;

}


.cta__button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-family: var(--nunito);
    font-size: var(--FontSize_Paragraph);
    padding: 10px 30px;
    border-radius: 8px;
    color: var(--cta__button__color);
    background-color: var(--cta__button__bgcolor);
}


.newsletter__subscription {
    max-width: 500px;
    min-width: 250px;
    margin-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border: 2px solid rgba(203, 193, 247, 0.38);
    border-radius: 8px;
}

.newsletter__subscription>input {
    border: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    outline: none;
    padding: 0 18px;
    font-family: var(--nunito);
    font-weight: var(--Regular);
    font-size: var(--FontSize_MainParagraph);

}



@media (max-width: 1300px) {
    header>.ornament {
        display: none;
    }

    header>.introduction {

        width: 70%;
    }
}

@media (max-width: 1100px) {

    header {
        padding: 30px;
    }

    .navbar>.navbar__controls {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 10px;
    }

    .navbar>.navbar__controls>hr {
        display: none;

    }



    .navbar {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        row-gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    header>.introduction {
        padding: 25px 0;
        width: 100%;
    }

    .newsletter__subscription {
        width: 100%;

    }

}