/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 16 version
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--nunito);
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


:root {

    --nunito: 'Nunito', sans-serif;
    --ExtraBold: 800;
    --SemiBold: 600;
    --Regular: 400;

    --background__white: #FBFCFF;
    --cta__button__bgcolor: #FFC476;
    --cta__button__color: #A97838;
    --greyish_black: #475467;
    --miusaic__lightPurple: #DFD0F7;
    --miusaic__purple: #5764C0;
    --miusaic__violet: #7D78D9;

    --FontSize_MainTitle: 40px;
    --FontSize_Title: 30px;
    --FontSize_MainSubTitle: 24px;
    --FontSize_Subtitle: 20px;
    --FontSize_MainParagraph: 18px;
    --FontSize_Paragraph: 16px;
    --FontSize_Annotation: 14px;
}

h1 {

    font-size: var(--FontSize_MainTitle);
}

h2 {

    font-size: var(--FontSize_Title);
}

h3 {

    font-size: var(--FontSize_MainSubTitle);
}

h4 {

    font-size: var(--FontSize_Subtitle);
}

p {
    font-size: var(--FontSize_Paragraph);
}

p>strong {
    font-weight: 400;
    font-size: var(--FontSize_MainParagraph);
}


@media (max-width: 1500px) {

    :root {

        --FontSize_MainTitle: 30px;
        --FontSize_Title: 24px;
        --FontSize_MainSubTitle: 20px;
        --FontSize_Subtitle: 16px;
        --FontSize_MainParagraph: 16px;
        --FontSize_Paragraph: 14px;
    }
}

@media (max-width: 1100px) {
    :root {
        --FontSize_MainTitle: 24px;
        --FontSize_Title: 18px;
        --FontSize_MainSubTitle: 16px;
        --FontSize_Subtitle: 12px;
        --FontSize_MainParagraph: 12px;
        --FontSize_Paragraph: 12px;
    }
}